.mobile-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mobile-brand {
    width: 30%;
    border: 2px solid gray;
    margin: 15px;
    padding: 10px 0px;
    text-align: center;
}

.mobile-img {
    width: 90%;
    height: auto;
}

.brand {
    color: red;
    font-size: 33px;
    font-weight: 700;
    margin-top: 10px;
}

.price {
    color: teal;
    font-size: 25px;
    font-weight: 600;
}
.year{
    color: black;
    font-size: 25px;
    font-weight: 400;
}